@{
    ViewBag.Title = "Home Page";
}

<div class="texto-introducao">
    <h2>Seja bem-vindo a Violet Games!</h2>
    <p>O sistema fora feito para o cadastro de funcionários, clientes e jogos.</p><br/>
    <p>Clique em alguma das opçõs acima no header para ser levado para a área de cadastro!</p>
</div>
